*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#wrap{
    margin: 10px auto;
    width: 1200px;
    height: 600px;
    background-image: url("../img/visual_bg.jpg");
    background-size: cover;
}
.sns{
    float: right;
    width: 350px;
}
.sns ul{
   float: right;
}
.sns ul li{
    padding: 5px;
    float: left;
}
.sns ul li i{
    padding-top: 5px;
    font-size: 25px;
}
nav{
    clear: both;
}
#Carousel{
    position: absolute;
    top: 280px;
    left: 290px;
}
#nav_1{
    width: 890px;
    margin:0 auto;
}
#nav_1 ul li{
    float: left;
}
#nav_1 ul li a{
    padding:15px  20px 5px 15px;
    color: #3A6B45;
    vertical-align: -100%;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}
#nav_1 ul li a:hover{
    color: #2ECC71;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}
#textall1{
    text-align: center;
    padding-top: 442px;
    clear: both;
}
#textall1 ul{
    margin: 0 auto;
}
#textall1 ul li {
    border-right:5px solid #275D33;
    background-color: #2ECC71;
    width: 336px;
    padding: 20px 30px;
    float: left;
}
#textall1 ul li h1{
    font-size: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
#textall1 ul li#borno{
    border: none;
}
#textall1 ul li  p{
    font-size: 20px;
    color: yellow;
}
section{
    clear: both;
    position: relative;
}
  .card {
    width: 300px;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card__face--back {
    transform: rotateY(180deg);
  }
  .card2 {
    width:300px;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 450px;
  }
  .card2.is-flipped {
    transform: rotateY(180deg);
  }
  .card__face2 {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card__face--back2 {
    transform: rotateY(180deg);
  }
  .card3 {
    width: 300px;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 860px;
  }
  .card3.is-flipped {
    transform: rotateY(180deg);
  }
  .card__face3 {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card__face--back3 {
    transform: rotateY(180deg);
  }
  .art1all{
      width: 1100px;
      margin: 480px auto 0;
      border: 2px solid #0C6C3D;
      background-color: #EEF8D4;
  }
  .art1all h1{
    text-align: center;
    border-bottom:4px solid #0C6C3D;
    width: 350px;
      font-size: 26px;
      color: #0C6C3D;
      padding-top: 10px;
      margin-left: 30px;
  }
  .art1all ul{
      font-size: 18px;
      padding: 5px 30px 10px 30px;
  }
  #art_text{
      width: 125px;
      margin-top: 4px;
      margin-bottom: 4px;
      padding: 3px;
      text-align: center;
      cursor: pointer;
      color: rgb(143, 143, 143);
      background-color: #0C6C3D;
      border: 4px solid #fff;
      color: #fff;
  }
  footer{
    margin-top: 50px;
  }
  .footall{
    padding: 10px;
    height: 100px;
    background-color: #343434;
  }
  #foot_1 li p{
    color: #fff;
  }
  #foot_1_1{
    width: 600px;
    float: left;
    color: #757575;
  }
  #foot_2{
    margin-right: 40px;
    float: right;
  }
  #foot_2 ul li{
    padding-left: 10px;
    float: left;
    color: #fff;
    font-size: 20px;
  }
  
  


